{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid"><div class="row">
{% for exchange in analizador.Exchanges %}
    {% set precioDolar = dolar.getCurrentPrecio %}
    {% set cotizaciones = exchange.obtenerMejorPrecioParaTodasDivisas %}
    {% if cotizaciones %}
        <div class="col">
        <h2>{{ exchange }}</h2>

        <table class="table">
        {% for cotizacion in cotizaciones %}
            <tr>
                <td><a href="{{ path('dash_libro', { 'exchange': exchange.id, 'par': cotizacion.par }) }}">{{ cotizacion.par }}</a></td>
                <td class="text-right">
                    {% if cotizacion.precioVenta > 10 %}
                        {{ cotizacion.precioVenta|number_format(2) }}
                    {% else %}
                        {{ cotizacion.precioVenta|number_format(8) }}
                    {% endif %}

                    {% if 'ARS' in cotizacion.par %}
                        {% set inversePar = cotizacion.par|replace({'ARS': 'USD'}) %}
                        {% set referenceCotizacion = reference.getCotizacionForPar(inversePar) %}
                        {% if referenceCotizacion %}
                            {% set precioVenta = referenceCotizacion.getPrecioVenta %}
                            <br />
                            <span class="small text-muted">DI {{ (cotizacion.precioVenta / precioVenta)|number_format(2) }}</span>
                        {% endif %}

                    {% elseif 'USD' in cotizacion.par %}
                        
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if cotizacion.precioCompra > 10 %}
                        {{ cotizacion.precioCompra|number_format(2) }}
                    {% else %}
                        {{ cotizacion.precioCompra|number_format(8) }}
                    {% endif %}

                    {% if 'ARS' in cotizacion.par %}
                        {% set inversePar = cotizacion.par|replace({'ARS': 'USD'}) %}
                        {% set referenceCotizacion = reference.getCotizacionForPar(inversePar) %}
                        {% if referenceCotizacion %}
                            {% set precioCompra = referenceCotizacion.getPrecioCompra %}
                            <br />
                            <span class="small text-muted">DI {{ (cotizacion.precioCompra / precioCompra)|number_format(2) }}</span>
                        {% endif %}

                    {% elseif 'USD' in cotizacion.par %}
                        
                    {% endif %}
                    
                </td>
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endif %}
{% endfor %}
</div></div>
{% endblock body %}

{% block javascripts %}
<script>
    function cotiRecargar() {
        url = '{{ path('dash_coti') }}';
        destino = '#page-wrapper';
        $.get(url, function (data, status, xhr) {
            try {
                $(destino).html(data);
            } catch (err) {
                $(destinoFinal).append('<div class="alert alert-dismissable alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>Error al cargar fragmento AJAX: ' + err + '</div>');
            }
        }).fail(function (jqXHR) {
            // Muestro un error
            $(destino).html(jqXHR.responseText);
        });
        setTimeout(cotiRecargar, 10000);
    }

    setTimeout(cotiRecargar, 10000);
</script>
{% endblock javascripts %}