{% extends 'base-anon.html.twig' %}

{% block body %}
    <style>
        body {
            padding-top: 32px;
        }
    </style>

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">CryptoDash</h1>
        <h2 class="h3 mb-3 font-weight-normal">Arbitraje de criptomonedas</h2>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'form-signin' }}) }}
    <div class="form-label-group">
        {{ form_widget(form._username, { 'attr': { 'class': 'form-control' }}) }}
        <label for="_username">Correo electrónico</label>
    </div>
    <div class="form-label-group">
        {{ form_widget(form._password, { 'attr': { 'class': 'form-control' }}) }}
        <label for="_password">Contraseña</label>
    </div>
    {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-lg btn-primary btn-block' }}) }}
    {{ form_end(form) }}

    <br />
    <div class="text-center mb-4 small">
        <a href="{{ path('reset_password') }}">No recuerdo mi contraseña</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="{{ path('register') }}">No tengo una cuenta, quiero registrarme</a>
    </div>
{% endblock %}
