{% extends 'base-anon.html.twig' %}

{% block body %}
    <style>
        body {
            padding-top: 32px;
        }
    </style>

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Arbitraje de criptomonedas</h1>
        <h2>Restablecer contraseña</h2>
        <p>Escriba su dirección de correo electrónico para solicitar una nueva contraseña.</p>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'form-signin' }}) }}
    <div class="form-label-group">
        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
        <label for="email">Correo electrónico</label>
    </div>
    {{ form_widget(form.send, { 'attr': { 'class': 'btn btn-lg btn-primary btn-block' }}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}