{% extends 'base-anon.html.twig' %}

{% block body %}
    <style>
        body {
            padding-top: 32px;
        }
    </style>

    <div class="text-center mb-4">
        <img alt="CryptoDash" class="mb-4" height="72" src="/assets/img/logo.png" width="72"/>
        <h1 class="h3 mb-3 font-weight-normal">CryptoDash</h1>
        <p>Escriba su direcci칩n de correo electr칩nico para solicitar una nueva contrase침a.</p>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'form-signin' }}) }}
    <div class="form-label-group">
        {{ form_widget(form.email) }}
        <label for="email">Correo electr칩nico</label>
    </div>
    {{ form_widget(form.send, { 'attr': { 'class': 'btn btn-lg btn-primary btn-block' }}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}