{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h2>Oportunidades recientes</h2>
<table class="table">
    <tr>
        <th>#</th>
        <th>Fecha y hora</th>
        <th>Par</th>
        <th>Inicio</th>
        <th>Piernas</th>
        <th class="text-right">Volumen</th>
        <th class="text-right">Ganancia</th>
        <th class="text-right">Cnt.</th>
        <th></th>
    </tr>
{% for opor in oportunidades %}
    <tr>
        <td>{{ opor.id }}</td>
        <td>{{ opor.Fecha|date('d/m/Y h:i:s') }}</td>
        <td>{{ opor.PiernaInicial.par }}</td>
        <td>{{ opor.PiernaInicial.exchange }}</td>
        <td>{{ opor.piernas|length }}</td>
        <td class="text-right">{{ opor.DivisaBase|divisa_simbolo }} {{ opor.CantidadArbitrable|number_format(6) }}</td>
        <td class="text-right">{{ opor.DivisaPrecio|divisa_simbolo }} {{ opor.GananciaBruta|number_format(2) }} ({{ opor.GananciaBrutaPct|number_format(1) }}%)</td>
        <td class="text-right">{{ opor.Contador }}</td>
        <td>
            {% if opor.Activa %}
                <i class="fa fa-check text-success"></i>
            {% else %}
                <i class="fa fa-times text-muted"></i>
            {% endif %}
            <a class="btn btn-link" href="{{ path('arbi_ver', { 'id': opor.id }) }}">Ver</a>
            <a class="btn btn-link" href="#">Ejecutar</a>
        </td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock body %}
